@use '../abstracts/' as a;

.advantage {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  overflow: hidden;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 1.8rem;
    }

    .advantage-grid {
      flex-direction: column;
      align-items: center;
    }

    .advantage-grid__item {
      max-width: 95%;
      margin: 1rem 0;

      p {
        line-height: 1.7rem;
      }
    }

    .grid-item__separator {
      height: 1px;
      width: 95%;
      margin: 0;
    }

    .separator--mobile {
      display: block;
    }
  }
}

.advantage-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.advantage-grid__item {
  max-width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 5rem 0;

  h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: a.$limeGreen;
    text-decoration: none;
  }
}

.grid-item__separator {
  width: 1px;
  height: 100px;
  background-color: #c0c0c0;
  margin: 0 0.8rem;
  margin-top: 1.4rem;
}

.separator--mobile {
  display: none;
}
