@use '../abstracts/' as a;

.hero {
  display: flex;
  justify-content: flex-end;
  height: 350px;
  width: 100%;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 15%;
  position: relative;

  @media only screen and (max-width: 768px) {
    height: 250px;
    background-size: 70rem;
    background-position: 30% 23%;
    margin-bottom: 2rem;

    .hero-angle {
      display: none;
    }
  }
}

.hero-angle {
  height: 100%;
  width: 50%;
  background-color: a.$greenOverlay;
  opacity: 80%;
  position: absolute;
  right: -8%;
  transform: skewX(-20deg);
  overflow: hidden;
  z-index: 10;
}
